.my{
    width:95%;
}
.py{
    width:85%;
}
.wy{
    width:75%;
}
.wyp{
    width:65%;
}
.ch{
    width:55%;
}
.chp{
    width:45%;
}
.mm{
    color:#00796b;
}
.pic{
    margin: auto;
}
.ppp{
    text-align: center;
}